[includeIf "gitdir:~/src/"]
    path = .gitconfig-work
[includeIf "gitdir:~/code/"]
    path = .gitconfig-personal

[core]
        pager = delta --color-only --line-numbers --dark --features=interactive

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    features = decorations

[interactive]
    diffFilter = delta --color-only --features=interactive

[pull]
	ff = only

[push]
	default = current
  autoSetupRemote = true
[user]
	name = Ryan Sadler
	email = rrsadler@gmail.com
