[includeIf "gitdir:~/src/"]
    path = .gitconfig-work
[includeIf "gitdir:~/code/"]
    path = .gitconfig-personal

[core]
        pager = delta --color-only

[delta]
    features = decorations
    navigate = true

[interactive]
    diffFilter = delta --color-only --features=interactive

[pull]
	ff = only

[push]
	default = current
  autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ryan Sadler
	email = rrsadler@gmail.com
